<div class="container-fluid px-0 fixed-top bg-body p-3 px-5 shadow-sm" [class.fixed-top]="position() === 'fixed'">
  <div class="row gx-0">
    <div class="col-auto col-lg-3">
      <a [routerLink]="['/home']" routerLinkActive="active"
        class="navbar-brand w-100 m-0 p-0 d-flex align-items-center justify-content-center">
        <img class="rounded-circle" src="assets/icons/icon-72x72.png" [alt]="appName" />
      </a>
    </div>
    <div class="col-auto col-lg-9 ms-auto">
      <nav class="navbar navbar-expand-lg p-3 p-lg-0 h-100 ms-auto w-auto">
        <dx-button class="navbar-toggler rounded ms-auto p-0" type="normal" stylingMode="outlined" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" icon="menu">
        </dx-button>
        <div class="collapse navbar-collapse justify-content-evenly align-items-center ms-auto position-lg-fixed end-0" id="navbarCollapse">
          <div class="navbar-nav py-0 fw-bold text-uppercase">
            <a [routerLink]="['/home']" routerLinkActive="active"
              class="nav-item nav-link text-black" i18n="@@header.Home">Home</a>
            <a [routerLink]="['/stock']" routerLinkActive="active"
              class="nav-item nav-link text-black" i18n="@@header.Stock">Stock</a>
            <a [routerLink]="['/blog']" routerLinkActive="active"
              class="nav-item nav-link text-black" i18n="@@header.Blog">Blog</a>
            <a [routerLink]="['/about']" routerLinkActive="active"
              class="nav-item nav-link text-black" i18n="@@header.About">About</a>
            <a [routerLink]="['/faqs']" routerLinkActive="active"
              class="nav-item nav-link text-black" i18n="@@header.FAQs">FAQs</a>
          </div>
          <div class="d-flex">
            @if (authService.isAuthenticated === false) {
              <dx-button class="me-2" type="normal" [routerLink]="['/login']" text="Log in" i18n-text="@@header.Log-in"></dx-button>
              <dx-button type="default" [routerLink]="['/register']" text="Try for free" i18n-text="@@header.Try-for-free"></dx-button>
            } @else {
              <div class="dropdown">
                <dx-button [type]="btnCollapseProfileType" hint="Profile" i18n-hint="@@home.Profile" stylingMode="outlined" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" icon="user">
                </dx-button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <li>
                    <dx-button class="h-100" type="normal" stylingMode="text" class="dropdown-item" [routerLink]="['/profile']" text="Profile" i18n-text="@@header.Profile">
                    </dx-button>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <dx-button class="w-100 h-100" type="normal" stylingMode="text" class="dropdown-item" href="#" (click)="authService.logout()" text="Log out" i18n-text="@@header.Log-out">
                    </dx-button>
                  </li>
                </ul>
              </div>
            }
            <div class="dropdown">
              <dx-button class="ms-2" type="normal" hint="Languages" i18n-hint="@@home.Languages" stylingMode="outlined" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" icon="globe">
              </dx-button>
              <ul class="dropdown-menu text-center p-0 dropdown-menu-custom" aria-labelledby="dropdownMenuButton3">
                @for (language of languages; track language) {
                  <li>
                    <dx-button class="w-100" type="normal" template="btnLanguageTemplate">
                      <a *dxTemplate="let d of 'btnLanguageTemplate'" [href]="'/' + language.code + router.url">
                        {{ language.name }}
                      </a>
                    </dx-button>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>