<div class="bg-light row g-4 d-flex justify-content-evenly">
  <app-header [position]="'relative'" class="col-12" />

  <div class="bg-body rounded shadow p-4 custom-col-10 col-lg-10 col-12 d-flex flex-column align-items-center justify-content-center">
    <dx-chart
      class="custom-dx-chart"
      [title]="title"
      [dataSource]="stockPrices"
      [adjustOnZoom]="true">
      <dxi-series
        [color]="greenCandleColor"
        name="displayCrypto.code"
        openValueField="o"
        highValueField="h"
        lowValueField="l"
        closeValueField="c">
        <dxo-reduction [color]="redCandleColor"></dxo-reduction>
      </dxi-series>
      <dxo-common-series-settings argumentField="date" type="candlestick">
      </dxo-common-series-settings>
      <dxo-legend [visible]="false"></dxo-legend>
      <dxi-value-axis [tickInterval]="1">
        <dxo-title [text]="displayCurrency.code" ></dxo-title>
        <dxo-label>
          <dxo-format type="currency" [precision]="2"> </dxo-format>
        </dxo-label>
      </dxi-value-axis>
      <dxo-argument-axis [workdaysOnly]="false">
        <dxo-label format="shortDate"></dxo-label>
      </dxo-argument-axis>
      <dxo-tooltip
        [enabled]="true"
        location="edge"
        [customizeTooltip]="customizeTooltip.bind(this)">
      </dxo-tooltip>
      <dxo-zoom-and-pan
        [dragToZoom]="true"
        panKey="ctrl"
        argumentAxis="both"
        valueAxis="both">
      </dxo-zoom-and-pan>
    </dx-chart>

    <dx-tabs
      class="w-auto d-flex align-items-center d-block mt-3"
      [selectedIndex]="selectedTimeFrameIndex"
      [dataSource]="timeFrames">
    </dx-tabs>
  </div>
  
  <div class="bg-body rounded shadow p-4 col-lg-2 col-12 p-0">
    <div class="row gy-4 gx-0">
      <h4 class="col-12 text-center mt-5 mb-3">{{ cryptoOrdersTotal | number:'1.2-2' }}&nbsp;{{ displayCurrency.code }}</h4>
      <span class="col-12 text-center mt-0" [class.text-danger]="currentProfit < 0" [class.text-success]="currentProfit > 0">
        {{ currentProfit | number:'1.2-2' }}&nbsp;<i class="dx-icon custom-dx-icon-arrow" [class.dx-icon-arrowup]="currentProfit > 0" [class.dx-icon-arrowdown]="currentProfit < 0"></i>{{ currentProfitInPercentage | number:'1.2-2' }}%
      </span>
      
      <dx-select-box
        class="col-12"
        [dataSource]="currencies"
        [value]="displayCurrency.code"
        [(selectedItem)]="displayCurrency"
        label="Display in currency"
        labelMode="floating"
        i18n-label="@@stock.Display-in-currency:Display in currency"
        valueExpr="code"
        displayExpr="code">
      </dx-select-box>
      <dx-select-box
        class="col-12"
        [dataSource]="cryptosInfo"
        [value]="displayCrypto.code"
        [(selectedItem)]="displayCrypto"
        (onSelectionChanged)="onDisplayCryptoSelectionChanged($event)"
        label="Analyse crypto"
        labelMode="floating"
        i18n-label="@@stock.Analyse-crypto:Analyse crypto"
        valueExpr="code"
        displayExpr="name">
      </dx-select-box>
      
      <div class="col-6 p-0 ps-lg-0 p-lg-2 sticky-bottom">
        <dx-button class="w-100" type="danger" text="Sell" i18n-text="@@stock.Sell" (onClick)="openStockOrderPopup(OrderSide.Sell)"></dx-button>
      </div>
      <div class="col-6 p-0 pe-lg-0 p-lg-2 sticky-bottom">
        <dx-button class="w-100" type="success" text="Buy" i18n-text="@@stock.Buy" (onClick)="openStockOrderPopup(OrderSide.Buy)"></dx-button>
      </div>

      @if (currentCryptoOrders.length > 0) {
        <h6 class="col-12 mt-5 mb-0" i18n="@@stock.Orders">Orders</h6>
        <dx-scroll-view class="col-12 bg-light rounded p-3" height="30vh" [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true">
          <div class="row gy-4 gx-0">
            @for (order of currentCryptoOrders; track order) {
              <div class="col-12 border rounded p-3">
                <div class="row gy-2 gx-0">
                  <div class="rounded col-auto fw-bold fs-6 lh-base">
                    {{ getOrderHistoryEntrySideLabel(order.side) }}&nbsp;{{ displayCrypto.code }}
                  </div>
                  @if (order.status === OrderStatusString.Cancelled) {
                    <small class="text-danger col-auto bg-opacity-25 bg-danger rounded p-1 ms-2">{{ getOrderHistoryEntryStatusLabel(order.status) }}</small>
                  } @else if (order.status === OrderStatusString.Completed) {
                    <small class="text-success col-auto bg-opacity-25 bg-success rounded p-1 ms-2">{{ getOrderHistoryEntryStatusLabel(order.status) }}</small>
                  }
                  <div class="rounded col fw-bold fs-6 lh-base text-end">
                    {{ getOrderHistoryEntryCashQuantityPrefixLabel(order.side) }}{{ order.cashQuantity | number:'1.2-2' }}&nbsp;{{ getOrderHistoryEntryFiatWalletLabel(order.fiatWalletId) }}
                  </div>
                  <div class="col-12 text-muted">{{ order.nominal }}&nbsp;·&nbsp;{{ order.price | number:'1.2-2' }}&nbsp;{{ getOrderHistoryEntryFiatWalletLabel(order.fiatWalletId) }}</div>
                  <div class="col-12 text-muted" i18n="@@stock.Created-at">Created at: {{ order.dateCreated | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                  @if (order.dateExecuted !== defaultDate) {
                    <div class="col-12 text-muted" i18n="@@stock.Executed-at">Executed at: {{ order.dateExecuted | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                  }
                </div>
              </div>
            }
          </div>
        </dx-scroll-view>
      }
    </div>
  </div>
</div>

<app-stock-order #stockOrderPopup (onAdded)="onOrderAdded($event)" />
