<div class="position-fixed bottom-0 end-0 mb-2 me-2">
  <dx-button
    class="d-md-flex d-none"
    type="default"
    text="Support us"
    icon="like"
    i18n-text="@@donate.Support-us"
    hint="Donate"
    i18n-hint="@@donate.Donate"
    (onClick)="open()">
  </dx-button>
  
  <dx-button
    class="d-md-none d-flex"
    type="default"
    icon="like"
    hint="Donate"
    i18n-hint="@@donate.Donate"
    (onClick)="open()">
  </dx-button>
</div>

<dx-popup
  [(visible)]="visible"
  title="Support us via donate"
  i18n-title="@@donate.Support-us-via-donate"
  height="auto"
  width="300"
  [showCloseButton]="true"
  contentTemplate="contentTemplatePopup">
  <div *dxTemplate="let d of 'contentTemplatePopup'" class="w-100 h-100">
    <div class="row gx-0 gy-4">
      <div class="col-12">
        <dx-select-box
          class="w-100"
          [dataSource]="currencies"
          valueExpr="currency_name"
          displayExpr="currency_name"
          [searchEnabled]="true"
          [(value)]="makePaymentRequest.currency"
          label="Currency"
          i18n-label="@@donate.Currency"
          labelMode="floating"
          validationMessageMode="always">
          <dx-validator>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>

      <div class="col-12">
        <dx-number-box
          class="w-100"
          label="Nominal (min 1)"
          labelMode="floating"
          [min]="1"
          [step]="1"
          [showSpinButtons]="true"
          format="#0"
          [(value)]="makePaymentRequest.nominal"
          validationMessageMode="always"
          i18n-label="@@donate.Nominal_min-1_:Nominal (min 1)">
          <dx-validator>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dx-validator>
        </dx-number-box>
      </div>

      <div class="col-12">
        <div class="row g-4">
          <div class="col-lg-auto col-6 ms-lg-auto">
            <dx-button class="w-100" type="normal" text="Cancel" i18n-text="@@donate.Cancel" (onClick)="close()"></dx-button>
          </div>
          <div class="col-lg-auto col-6">
            <dx-button class="w-100" type="default" text="Donate" i18n-text="@@donate.Donate" (onClick)="donate()" [useSubmitBehavior]="true"></dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
