<form class="card-body row gy-4 gx-0 gx-lg-4" (submit)="$event.preventDefault(); $event.stopImmediatePropagation()">
  <h4 class="card-header bg-body">Personal</h4>
  <div class="col-12 col-lg-6 p-0 p-lg-2 ps-lg-0" >
    <dx-text-box label="Name" i18n-label="@@profile.Name" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-12 col-lg-6 p-0 pe-lg-0 p-lg-2">
    <dx-text-box label="Surname" i18n-label="@@profile.Surname" labelMode="floating" #txtEmail validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>

  <h4 class="card-header bg-body mt-5">Address</h4>
  <div class="col-lg-6 col-12 p-0 p-lg-2 ps-lg-0">
    <dx-text-box label="Country" i18n-label="@@profile.Country" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-lg-6 col-12 p-0 pe-lg-0 p-lg-2">
    <dx-text-box label="City" i18n-label="@@profile.City" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-lg-4 col-12 p-0 ps-lg-0 p-lg-2">
    <dx-text-box label="Postal code" i18n-label="@@profile.Postal-code" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-lg-4 col-12 p-0 p-lg-2">
    <dx-text-box label="Street" i18n-label="@@profile.Street" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-lg-4 col-12 p-0 pe-lg-0 p-lg-2">
    <dx-text-box label="Building" i18n-label="@@profile.Building" labelMode="floating" validationMessageMode="always">
      <dx-validator>
        <dxi-validation-rule type="required">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>

  <dx-button class="col-lg-auto col ms-auto" type="default" [useSubmitBehavior]="true" (onClick)="undefined" text="Save" i18n-text="@@profile.Save"></dx-button>
</form>