<dx-scroll-view class="card shadow p-3 border-primary container" [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true">
  <div class="d-none d-lg-flex sticky-top ms-auto justify-content-end mb-3">
    <dx-button
      type="default"
      text="Add"
      i18n-text="@@profile-wallets.Add"
      icon="add"
      (onClick)="add()">
    </dx-button>
  </div>

  <dx-data-grid
    [dataSource]="wallets"
    [remoteOperations]="false">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

    <dxi-column caption="Action" i18n-caption="@@profile-wallets.Action" cellTemplate="actionCellTemplate" width="145">
      <div *dxTemplate="let d of 'actionCellTemplate'">
        @if (d.data.is_crypto === false) {
          <dx-button
            icon="plus"
            type="success"
            stylingMode="text"
            hint="Add money"
            i18n-hint="@@profile.wallets.Add-money"
            (onClick)="addMoney(d.data)">
          </dx-button>
        }
        <dx-button appGridDeleteButton (onClick)="delete(d.data.id)"></dx-button>
        <dx-button type="default" stylingMode="text" icon="clock" hint="Show orders" i18n-hint="@@profile-wallets.Show-orders" (onClick)="showOrders(d.data.id)"></dx-button>
      </div>
    </dxi-column>
    <dxi-column dataField="id" caption="ID" i18n-caption="@@profile-wallets.ID"></dxi-column>
    <dxi-column dataField="currency" caption="Currency" i18n-caption="@@profile-wallets.Currency"></dxi-column>
    <dxi-column dataField="is_crypto" caption="Is crypto" i18n-caption="@@profile-wallets.Is-crypto" dataType="boolean"></dxi-column>
    <dxi-column dataField="value" dataType="number" caption="Value" i18n-caption="@@profile-wallets.Value">
      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
    </dxi-column>
  </dx-data-grid>

  <div class="d-inline-flex d-lg-none sticky-bottom mt-3 w-100">
    <dx-button
      class="w-100"
      type="default"
      text="Add"
      i18n-text="@@profile-wallets.Add"
      icon="add"
      (onClick)="add()">
    </dx-button>
  </div>
</dx-scroll-view>

<app-profile-wallet-create #profileWalletEditPopup (onSaved)="onWalletSaved($event)" />
<app-profile-wallet-add-money #profileWalletAddMoneyPopup (onSaved)="onWalletSaved($event)" />
<app-profile-wallet-orders #profileWalletOrdersPopup />
