<div class="container-xl px-4 mt-4 d-flex justify-content-center align-items-center flex-column vw-100 vh-100 bg-white">
  <form class="card shadow-lg p-3 pb-0" (submit)="$event.preventDefault(); $event.stopImmediatePropagation()">
    <a [routerLink]="['/']" routerLinkActive="active" class="d-flex justify-content-center">
      <img class="rounded-circle my-4" src="assets/icons/icon-192x192.png" [alt]="appName">
    </a>
    
    @if (currentStep === RegisterStep.Credentials) {
      <app-register-credentials [registerRequest]="registerRequest" (onNextStepClicked)="handleNextStepClick()" />
    }
    
    @if (currentStep === RegisterStep.PersonalData) {
      <app-register-personal-data [registerRequest]="registerRequest" (onPreviousStepClicked)="handlePreviousStepClick()" (onNextStepClicked)="handleNextStepClick()" />
    }

    @if (currentStep === RegisterStep.Address) {
      <app-register-address [registerRequest]="registerRequest" (onPreviousStepClicked)="handlePreviousStepClick()" (onNextStepClicked)="submit()" />
    }

  </form>
  <div class="mt-2" i18n="@@register.If-you-already-have-account-log-in-instead">
    If you already have account <a [routerLink]="['/login']" routerLinkActive="active">log in</a> instead
  </div>
</div>