<h4 class="card-header fw-bold border-0 text-center fs-4">Try <span class="text-decoration-underline">for free</span> now! (Step 1 of 3)</h4>
<div class="card-body row g-4">
  <dx-text-box [(value)]="registerRequest().username" label="Username" labelMode="floating" #txtUsername validationMessageMode="always">
    <dx-validator>
      <dxi-validation-rule type="required">
      </dxi-validation-rule>
    </dx-validator>
  </dx-text-box>
  <dx-text-box mode="email" [(value)]="registerRequest().email" label="E-mail" labelMode="floating" #txtEmail validationMessageMode="always">
    <dx-validator>
      <dxi-validation-rule type="required">
      </dxi-validation-rule>

      <dxi-validation-rule type="email">
      </dxi-validation-rule>
    </dx-validator>
  </dx-text-box>
  <dx-text-box [mode]="passwordMode" [(value)]="registerRequest().password" label="Password" labelMode="floating" validationMessageMode="always">
    <dx-validator>
      <dxi-validation-rule type="required">
      </dxi-validation-rule>

      <dxi-validation-rule type="custom" [validationCallback]="validatePassword.bind(this)" message="Password does not conform rules">
      </dxi-validation-rule>
    </dx-validator>
    <dxi-button name="password" [options]="passwordButtonOptions"></dxi-button>
  </dx-text-box>
  @if (showPasswordErrors) {
    <small class="ps-0 mt-4">
      <ul class="text-danger ps-3">
        @for (error of passwordErrors; track error) {
          <li class="mt-2">{{ error }}</li>
        }
      </ul>
    </small>
  }

  <dx-button class="col-lg-auto col ms-auto" type="default" [useSubmitBehavior]="true" (onClick)="goNextStep()" text="Next step" icon="chevronprev" [rtlEnabled]="true"></dx-button>
</div>