<dx-scroll-view class="card shadow p-3 border-primary container" [useNative]="false" [scrollByContent]="true" [scrollByThumb]="true" style="max-width: 400px;">
  <form class="card-body row gy-4 gx-0 gx-lg-4" (submit)="$event.preventDefault(); $event.stopImmediatePropagation()">
    <h4 class="card-header bg-body mt-2" i18n="@@profile-password.Password">Password</h4>
    <div class="col-12">
      <dx-text-box
        [mode]="oldPasswordMode"
        [(value)]="userPassword.old_password"
        label="Old password"
        i18n-label="@@profile-password.Old-password"
        labelMode="floating"
        validationMessageMode="always">
        <dx-validator>
          <dxi-validation-rule type="required">
          </dxi-validation-rule>
        </dx-validator>

        <dxi-button name="oldPassword" [options]="oldPasswordButtonOptions"></dxi-button>
      </dx-text-box>
    </div>
    
    <div class="col-12">
      <dx-text-box
        [mode]="newPasswordMode"
        [(value)]="userPassword.new_password"
        label="New password"
        i18n-label="@@profile-password.New-password"
        labelMode="floating"
        validationMessageMode="always">
        <dx-validator>
          <dxi-validation-rule type="custom" [validationCallback]="validateNewPassword.bind(this)" message="New password does not conform rules" i18n-label="@@profile-password.New-password-does-not-conform-rules">
          </dxi-validation-rule>
        </dx-validator>

        <dxi-button name="newPassword" [options]="newPasswordButtonOptions"></dxi-button>
      </dx-text-box>

      @if (showPasswordErrors) {
        <small class="ps-0 mt-5 d-block">
          <ul class="text-danger ps-3">
            @for (error of passwordErrors; track error) {
              <li class="mt-2">{{ error }}</li>
            }
          </ul>
        </small>
      }
    </div>
    
    <div class="col-12 sticky-bottom">
      <dx-button
        class="w-100"
        type="default"
        [useSubmitBehavior]="true"
        (onClick)="change()"
        text="Change"
        i18n-text="@@profile-password.Change">
      </dx-button>
    </div>
  </form>
</dx-scroll-view>
